<div class="Feed">
    <div>
        <div id="FilterBackground" style="cursor: pointer; display: inline-block; margin: 20px 0px 10px 10px; padding: 5px; border-radius: 5px; background: var(--ShadowColor); text-align: center;" onclick="FilterItem.style.display = (FilterItem.style.display == 'none' ? 'block' : 'none');">
            <div id="Filter"></div>
              
            <div id="FilterItem" style="display: none; opacity: 1f; padding: 5px; position: fixed; cursor: auto; border-radius: 5px; margin-top: 10px; z-index: 1;">
                <div class="dropdown-content" style="display: block; margin-left: 0px; max-height: 500px; overflow: auto;">
                    <a href="?tag=" class="MenuItem">None</a>
                    <hr/>
                    <a href="?tag=Announce" class="MenuItem">Announce</a>
                    <a href="?tag=Release" class="MenuItem">Release</a>
                    <a href="?tag=Changelog" class="MenuItem">Changelog</a>
                    <a href="?tag=Tutorial" class="MenuItem">Tutorial</a>
                    <a href="?tag=Other" class="MenuItem">Other</a>
                </div>
            </div>
        </div>

        <input id="search" autocomplete="off" onkeypress="SearchPost(event)" type="text" placeholder="Search..."
            style="position: relative; top: -6px;display: inline-block; margin: 10px; border-radius: 5px; border: var(--ShadowColor) 1px solid; width: calc(100% - 122px); padding: 10px; background-color: var(--PanelBackground); color: var(--TextColor)" />
    </div>
    <div id="Posts"></div>
    <div id="LoadingContent" style="text-align: center;">
        <img draggable="false" src="data/img/loading.gif" width="50" height="50" alt="Carregando..." />
    </div>
</div>