<div class="footer">
    <a href="https://www.instagram.com/treviasxk/"><img src="../../data/img/instagram-logo.png" title="Instagram" draggable="false"></a>
    <a href="https://github.com/treviasxk"><img src="../../data/img/github-logo.png" title="GitHub" draggable="false"></a>
    <a href="https://www.linkedin.com/in/treviasxk/"><img src="../../data/img/linkedin-logo.png" title="LikendIn" draggable="false"></a>
    <a href="https://twitter.com/treviasxk"><img src="../../data/img/x-logo.png" title="X" draggable="false"></a>
    <p>Trevias Xk © 2023</p>
</div>