<style>
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer {
    display: table;
    margin: 0 auto;
    text-align: center;
    color: #888888;
    font-weight: bold;
}

.footer > a > img {
    padding: 0px 10px;
    width: 30px;
    height: 30px; 
}
</style>
<hr/>
<br/>
<div class="footer">
    <a href="https://www.instagram.com/treviasxk/"><img src="../../data/img/instagram-logo.png" title="Instagram" draggable="false"></a>
    <a href="https://github.com/treviasxk"><img src="../../data/img/github-logo.png" title="GitHub" draggable="false"></a>
    <a href="https://www.linkedin.com/in/treviasxk/"><img src="../../data/img/linkedin-logo.png" title="LikendIn" draggable="false"></a>
    <a href="https://twitter.com/treviasxk"><img src="../../data/img/twitter-logo.png" title="Twitter" draggable="false"></a>
    <p>Trevias Xk © 2023</p>
</div>