<h1>Menu</h1>

<div class="VerticalMenu">
    <a class="MenuItem" href="/" class="active">Home</a>
    <a class="MenuItem" href="?page=blog">Blog</a>
    <a class="MenuItem" href="?page=projects">Projects</a>
    <a class="MenuItem" href="?page=donate">Donate</a>
    <a class="MenuItem" href="?page=contact">Contact</a>
    <a class="MenuItem" href="?page=about">About</a>
</div>
<div class="Footer">
    <a href="https://www.instagram.com/treviasxk/"><img src="../../data/img/instagram-logo.png" title="Instagram" draggable="false"></a>
    <a href="https://github.com/treviasxk"><img src="../../data/img/github-logo.png" title="GitHub" draggable="false"></a>
    <a href="https://www.linkedin.com/in/treviasxk/"><img src="../../data/img/linkedin-logo.png" title="LikendIn" draggable="false"></a>
    <a href="https://x.com/treviasxk"><img src="../../data/img/x-logo.png" title="Twitter" draggable="false"></a>
    <p>Made with <a href="https://github.com/treviasxk/treviasxk.github.io">DevBlog</a></p>
</div>