<h1>Menu</h1>

<div class="vertical-menu">
    <a href="/" class="active">Home</a>
    <a href="/about.html">News</a>
    <a href="/about.html">Projects</a>
    <a href="/donate.html">Donate</a>
    <a href="/contact.html">Contact</a>
    <a href="/about.html">About</a>
</div>
<div class="footer">
    <a href="https://www.instagram.com/treviasxk/"><img src="../../data/img/instagram-logo.png" title="Instagram" draggable="false"></a>
    <a href="https://github.com/treviasxk"><img src="../../data/img/github-logo.png" title="GitHub" draggable="false"></a>
    <a href="https://www.linkedin.com/in/treviasxk/"><img src="../../data/img/linkedin-logo.png" title="LikendIn" draggable="false"></a>
    <a href="https://twitter.com/treviasxk"><img src="../../data/img/twitter-logo.png" title="Twitter" draggable="false"></a>
    <p>Made with <a href="https://github.com/treviasxk/treviasxk.github.io">MyDevBlog</a></p>
</div>