<div class="Feed">
    <div class="Card">
    <h1>Settings</h1>
    <h3>Supabase</h3>
    <p>Supabase is an open source platform that makes it easy to manage the DevBlog backend. It offers a wide range of services, including a PostgreSQL-based database, user authentication, file storage, and real-time APIs. Below are the values ​​of the Supabase configuration variables, which have been stored in the <code>config.js</code> file, allowing the system to work seamlessly and securely.</p>
    <br/>
    <label>Supabase Url:</label>
    <div class="container">
        <input id="SupabaseUrl" readonly type="text">
        <span class="censored-text"><div id="Views" style="display: inline-block; background-color: white;"></div>Show Url</span>
    </div>
    <label>Supabase Key:</label>
    <div class="container">
        <input id="SupabaseKey" readonly type="text">
        <span class="censored-text"><div id="Views" style="display: inline-block; background-color: white;"></div>Show Key</span>
    </div>
    <br/>
    <br/>

    <hr/>
    <br/>
    <h3>WebHook</h3>
    <p>The Discord WebHook is a generated URL for integrating external services into your Discord server. It allows you to send messages, notifications, or updates directly to a specific channel on Discord, without the need for manual interaction. To set it up, enter your WebHook URL in the field below. Please make sure the URL is correct to ensure messages are delivered successfully.</p>
    <br/>
    <label>Discord Url:</label>
    <div class="container">
        <input id="DiscordWebHook" type="text">
        <span class="censored-text"><div id="Views" style="display: inline-block; background-color: white;"></div>Show Url</span>
    </div>
    <br/>
    <div id="Submit" style="width: 200px;">Save</div>
    </div>
</div>