/*
    Software Developed by Trevias Xk
    Social Networks:     treviasxk
    Github:              https://github.com/treviasxk
*/

/*Layout main*/
:root {
    --PrimaryColor: #065acf;
    --SegundaryColor: #03498f;
    --HyperLink: dodgerblue;
    --ShadowColor: #006affa3;
    --AppBarText: #FFFFFF;
}

@media (prefers-color-scheme: light) {
    body {
        --TextColor: #000000;
        --BackgroundColor: #ffffff;
        --PanelBackground: #ffffffad;
    }
    #Pin{
        filter: invert(1);
    }
    #Views{
        filter: invert(1);
    }
    #DateTime{
        filter: invert(1);
    }
}
@media (prefers-color-scheme: dark) {
    body {
        --TextColor: #FFFFFF;
        --BackgroundColor: #000000;
        --PanelBackground: #000000c0;
    }
}

@media (max-width: 1024px) {
    .Feed {
        display: table;
        margin: 0px auto;
        width: 100%;
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: var(--BackgroundColor);
}
::-webkit-scrollbar-thumb {
    background: var(--PrimaryColor);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--SegundaryColor);
}

body {
    background: var(--BackgroundColor);
    color: var(--TextColor);
    overflow: hidden;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: block;
    top: 50px;
    position: relative;
}

body > video {
    position: fixed;
    opacity: 0.2;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}


h1 {
    text-align: center;
}

h2, h3 {
    text-align: left;
    padding: 0px 10px 0px 10px;
    margin: 10px 0px 5px 0px;
}

a {
    font-size: 17px;
    color: var(--TextColor);
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}
.Pin {
    color: var(--SegundaryColor);
}
.Pin:hover{
    color: var(--PrimaryColor);
}

a:hover{
    color: var(--PrimaryColor);
}

.profile {
    width: 200px !important;
    height: auto !important;
    border-radius: 250px;
    border: var(--PrimaryColor) 1px solid;
}

hr{
    margin-top: 10px;
    border:var(--ShadowColor) 1px solid;
}

.Footer {
    display: table;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    color: #888888;
    font-weight: bold;
}

.Footer > p {
    text-align: center;
}
.Footer > p > a {
    color: var(--PrimaryColor);
}
.Footer > p > a:hover {
    color: var(--ShadowColor);
}

.Footer > a > img {
    padding: 0px 10px;
    width: 30px;
    height: 30px; 
}

.VerticalMenu{
    color: var(--TextColor);
    width: 100%;
    height: calc(100% - 200px);
}
  
.VerticalMenu > a{
    color: var(--TextColor);
    display: block;
    padding: 12px;
    text-align: left;
}

.VerticalMenu a:hover {
    background-color: var(--ShadowColor);
}

.MenuItemSeleteced {
    background-color: var(--PrimaryColor);
    color: var(--AppBarText);
}

/*Layout básico*/

.Card {
    display: flow-root;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 5px var(--ShadowColor);
    background: var(--PanelBackground);
}


li[data-list=bullet] > .ql-ui:before{
    content: '\2022';
}

li[data-list=ordered] > .ql-ui::before{
    display: inline-block;
    content: counter(item) ". ";
    counter-increment: item;

}
.content > ol > li > .ql-ui:before {
    display: inline-block;
    margin-left: -1.5em;
    margin-right: .3em;
    text-align: right;
    white-space: nowrap;
    width: 1.2em;
}
.content > ol {
    counter-reset: item;
    margin: 0px;

}

.content > ol > li {
    list-style-type: none;
    padding: 0px 0px 5px 0px;
}

.content > ol > li > a {
    color: var(--HyperLink);
}

.content > ol > li > a:hover{
    color: var(--PrimaryColor);
}

h2 > img {
    display: inline-block !important;
}

.Card > * > img, .Card > img, .Card > video,  .Card > * > video {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: calc(100% - 20px);
    height: auto;
    max-height: 550px;
    padding: 0px 10px 0px 10px;
}

.Card > * > p, .Card > p, .Card > ul > li, .Card > li {
    text-align: justify;
    margin: 0px;
    padding: 0px 10px 0px 10px;
}

.Card > p > a, .content  p > a {
    color: var(--HyperLink);
}

.Card > p > a, .content  p > a:hover {
    color: var(--PrimaryColor);
}
.Card > .title {
    font-weight: bold;
    border-bottom: 1px solid var(--ShadowColor);
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 25px;
}
.Status {
    color: var(--TextColor);
    display: inline-flex;
    vertical-align: middle;
    opacity: 0.5;
}

.FullScreen{
    padding: 20px;
    display: table;
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    text-align: center;
}

.FullScreen > h1, .FullScreen > h2 {
    text-align: center;
    margin-block-end: 5px;
}

.FullScreen > p {
    display: inline-block;
    max-width: 500px;
    margin-block: 0px;
    text-align: justify;
}

.FullScreen > img {
    max-width: 100%;
}

.FullScreen > form{
    display: table-cell;
    vertical-align: middle;
}

form{
    text-align: center;
}
form > input, form > select{
    background-color: var(--BackgroundColor);
    box-sizing: border-box;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px;
    width: 90%;
    max-width: 300px;
    margin-bottom: 10px;
    border: 1px solid var(--ShadowColor);
    color: var(--TextColor);
    border-radius: 5px;
}

.btn {
    cursor: pointer;
    color: var(--AppBarText);
    background-color: var(--PrimaryColor);
}

#ScreenLoading {
    display: table;
    z-index: 1;
    position: fixed;
    left:0px;
    top:0px;
    margin-top:50px;
    width: 100%;
    height: calc(100% - 50px);
    text-align: center;
    background-color: var(--BackgroundColor);
}
#ScreenLoading > .ContentScreenLoading {
    display: table-cell;
    vertical-align: middle;
}
#AppBar {
    z-index: 2;
    display: table-header-group;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 50px;
    background-color: var(--PrimaryColor);
    box-shadow: 0px 0px 5px var(--ShadowColor);
    transition: 0.2s;
}
#AppBar > div {
    display: table-cell;
    vertical-align: middle;
    height: inherit;
    color: var(--AppBarText);
}
#AppBar > .Middle {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

#Navigate {
    z-index: 3;
    display: table;
    text-align: center;
    margin: 0px auto;
    position: fixed;
    left: -100%;
    top: 0px;
    width: 75%;
    max-width: 400px;
    height: 100%;
    color: var(--TextColor);
    background: var(--BackgroundColor);
    box-shadow: 0px 0px 5px var(--ShadowColor);
    transition: 0.2s linear;
}

#Content {
    display: contents;
    position: absolute;
    left: 0px;
    top: 50px;
    width: 100%;
    min-height: calc(100% - 50px);
    transition: 0.2s;
}

#Alert {
    visibility: hidden;
    position: fixed;
    display: inline-table;
    bottom: 40px;
    left: calc(50% - 150px);
    width: 300px;
    text-align: center;
    z-index: 4;
    margin: 0px;
    display: inline-block;
    border-radius: 10px;
    background: #000000;
    padding: 10px;
    opacity: 0;
    font-size: 16px;
    transition: 1s;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin: 10px;
}

#Tag{
    cursor: pointer;
    font-size: 10px;
    display: inline-block;
    margin: 0px 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--PrimaryColor);
    color: var(--AppBarText);
}

#Submit {
    cursor: pointer;
    color: var(--AppBarText);
    background-color: var(--PrimaryColor);
}
#Submit:disabled {
    background-color: var(--ShadowColor);
}

/*Botões*/
#BackPage {
    cursor: pointer;
    margin: 0px 15px;
    width: 25px;
    height: 25px;
    background: url("/data/img/icons.png") -25px 0px;
}
#OpenMenu {
    cursor: pointer;
    margin: 0px 15px;
    width: 25px;
    height: 25px;
    background: url("/data/img/icons.png") 0px 0px;
}
#SignIn{
    cursor: pointer;
    margin: 0px 15px;
    width: 25px;
    height: 25px;
    background: url("/data/img/icons.png") -50px 0px;
}
#Perfil{
    cursor: pointer;
    margin: 0px 15px;
    width: 25px;
    height: 25px;
    background: url("/data/img/icons.png") -75px 0px;
    border-radius: 25px;
}

#Edit{
    cursor: pointer;
    margin: 0px 15px;
    width: 25px;
    height: 25px;
    background: url("/data/img/icons.png") -100px 0px;
}

#Pin {
    display: inline-block;
    margin: -5px 10px -5px 0px;
    width: 25px;
    height: 25px;
    background: url("/data/img/icons.png") -125px 0px;
}


#Filter{
    display: inline-block;
    cursor: pointer;
    margin: 0px 15px;
    width: 25px;
    height: 25px;
    background: url("/data/img/icons.png") -150px 0px;
}

#Search{
    display: inline-block;
    cursor: pointer;
    margin: 0px 15px;
    width: 25px;
    height: 25px;
    background: url("/data/img/icons.png") -175px 0px;
}

#NoButton{
    margin: 0px 15px;
    width: 25px;
    height: 25px;
}

#Options{
    display: inline-block;
    cursor: pointer;
    margin: 0px 15px;
    width: 25px;
    height: 25px;
    background: url("/data/img/icons.png") 0px -25px;
}

#Views{
    display: inline-block;
    margin-right: 15px;
    width: 25px;
    height: 25px;
    background: url("/data/img/icons.png") -25px -25px;
}

#DateTime{
    display: inline-block;
    margin: 0px 15px;
    width: 25px;
    height: 25px;
    background: url("/data/img/icons.png") -50px -25px;
}

#Process{
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #000000ac;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-content: space-around;
}

.Feed {
    display: table;
    margin: 0px auto;
    width: 1024px;
    max-width: 100%;
}

/*Animações*/
.SlideLeft {
    animation: slideleft 0.4s linear;
}

.SlideRight {
    animation: slideright 0.4s linear;
}


@keyframes slideleft {
    0%{
        left: 200%;
    }
    50%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}

@keyframes slideright {
    0%{
        left: 0%;
    }
    50%{
        left: 100%;
    }
    100%{
        left: 200%;
    }
}

  
.dropdown {
    position: absolute;
    display: inline-block;
}

.dropdown-content {
    margin-left: -110px;
    display: none;
    min-width: 160px;
    z-index: 1;
    border-radius: 5px;
    background: var(--ShadowColor);
}

.dropdown-content a {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: var(--AppBarText);
}

.dropdown-content > a:hover {
    background-color: var(--ShadowColor);
}

.dropdown:hover .dropdown-content {display: block;}