/*Layout main*/
:root {
    --PrimaryColor: #006aff;
    --SegundaryColor: #03498f;
    --BackgroundColor: #000000;
    --ShadowColor: #006aff5b;
    --AppBarText: #FFFFFF;
}

@media (prefers-color-scheme: light) {
    body {
        --TextColor: #000000;
        --BackgroundColor: #FFFFFF;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        --TextColor: #FFFFFF;
        --BackgroundColor: #000000;
    }
}

::-webkit-scrollbar {
    width: 5px;
    background: var(--BackgroundColor);
}
::-webkit-scrollbar-thumb {
    background: var(--PrimaryColor);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--SegundaryColor);
}

body {
    background: var(--BackgroundColor);
    color: var(--TextColor);
    overflow: hidden;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body > video {
    position: fixed;
    opacity: 0.2;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

#ScreenLoading {
    display: table;
    z-index: 1;
    position: fixed;
    left:0px;
    top:0px;
    margin-top:50px;
    width: 100%;
    height: calc(100% - 50px);
    text-align: center;
    background-color: var(--BackgroundColor);
}
#ScreenLoading > .ContentScreenLoading {
    display: table-cell;
    vertical-align: middle;
}
#AppBar {
    z-index: 2;
    display: table-header-group;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 50px;
    background-color: var(--PrimaryColor);
    box-shadow: 0px 0px 5px var(--ShadowColor);
    transition: 0.2s;
}
#AppBar > div {
    display: table-cell;
    vertical-align: middle;
    height: inherit;
    color: var(--AppBarText);
}
#AppBar > .Middle {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 100%;
}

#Navigate {
    z-index: 3;
    display: table;
    text-align: center;
    margin: 0px auto;
    position: fixed;
    left: -100%;
    top: 0px;
    width: 75%;
    max-width: 400px;
    height: 100%;
    color: var(--TextColor);
    background: var(--BackgroundColor);
    box-shadow: 0px 0px 5px var(--ShadowColor);
    transition: 0.2s linear;
}

#Navigate > div {
    height: 100%;
}
#Content {
    position: absolute;
    z-index: 0;
    left: 0px;
    margin-top: 50px;
    width: 100%;
    min-height: calc(100% - 60px);
}


/*Botões*/
#BackPage {
    cursor: pointer;
    margin: 0px 15px;
    width: 25px;
    height: 25px;
    background: url("/data/img/icons.png") -25px 0px;
}
#OpenMenu {
    cursor: pointer;
    margin: 0px 15px;
    width: 25px;
    height: 25px;
    background: url("/data/img/icons.png") 0px 0px;
}
#SignIn{
    cursor: pointer;
    margin: 0px 15px;
    width: 25px;
    height: 25px;
    background: url("/data/img/icons.png") -50px 0px;
}
#Perfil{
    cursor: pointer;
    margin: 0px 15px;
    width: 25px;
    height: 25px;
    background: url("/data/img/icons.png") -75px 0px;
}
#NoButton{
    margin: 0px 15px;
    width: 25px;
    height: 25px;
}

/*Animações*/
.SlideLeft {
    animation: slideleft 0.4s linear;
}

.SlideRight {
    animation: slideright 0.4s linear;
}


@keyframes slideleft {
    0%{
        left: 200%;
    }
    50%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}

@keyframes slideright {
    0%{
        left: 0%;
    }
    50%{
        left: 100%;
    }
    100%{
        left: 200%;
    }
}