body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFFFFF;
    background-color: #000000;
}

h1 {
    font-size: 40px;
}
h2, h3 {
    text-align: left;
}

a {
    font-size: 17px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    color: #65a4fd;
}

p > img {
    width: 100%;
    text-align: center;
}

.content {
    display: table;
    margin: 0 auto;
    text-align: center;
}

.content > img {
    width: 200px;
    height: 200px;
    border-radius: 250px;
    border: #4190ff 1px solid;
}

body > video {
    position: fixed;
    opacity: 0.2;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

hr:first-of-type{
    margin-top: 0px;
}

hr{
    margin-top: 20px;
    border:#006aff5b 1px solid;
}

body > object {
    display: block;
    width:100%;
    height:auto;
}

.date {
    color: #5574a1;
    text-align: right;
}

.content > div > img, .content > div > video {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
}

.content {
    width: 100%;
    min-height: calc(100% - 125px);
}

p, li {
    text-align: justify;
}

.content > p > a {
    color: rgb(60, 60, 255);
    text-decoration:none;
}

.footer {
    display: table;
    margin: 0 auto;
    text-align: center;
    color: #888888;
    font-weight: bold;
}

.footer > p {
    text-align: center;
}

.footer > a > img {
    padding: 0px 10px;
    width: 30px;
    height: 30px; 
}


@media(min-width: 800px){
    .content {
        max-width: 810px;
    }
}

@media(max-width: 825px){
    .content {
        max-width: calc(100% - 20px);
        padding: 0px 10px;
    }
}